<%= form_with model: [ @article, @article.comments.build ] ,  html: {class: 'form-group'} do |form| %>
    <div class="row">
        <div class="col-md-6">
            <%= form.label :Name %><br>
            <%= form.text_field :commenter, class: "form-control" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <%= form.label :body %><br>
            <%= form.text_area :body, class: "form-control" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <%= form.label :status %><br>
            <%= form.select(:status, ['public', 'private', 'archived'], {}, { :class => 'form-control' }) %>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <%= form.submit "Add Comment", class: 'btn btn-success'  %>
        </div>
    </div>
  <% end %>