<div class="jumbotron bg-dark text-white">
    <div class="row">
        <div class="col-md-6">
            <h1><%= @article.title %></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><%= @article.body %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary btn-sm" %>
            <%= link_to "Delete", article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "btn btn-danger btn-sm" %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Comments</h3>
    </div>
</div>
<% if @article.comments.count != 0 %>
    <%= render @article.comments %>
<% else %>
    <p> no comments yet! </P>
<% end %>

<div class="row">
    <div class="col-md-6">
        <h4>Add a comment:</h4>
    </div>
</div>
<%= render 'comments/form' %>